// Utilities
@import "utilities/variables";
// Settings
@import "utilities/settings";

.AddEvent {
  position: absolugte;
  bottom: 0px;
  right: 0px;
  background-color: red;
  margin: 20px;
  width: 20px;
  height: 20px;
}


.DayLines {
  display: inline-block;
  width: $DayWith;
  background: none;
  height: calc(100% - 5px);
  border-right-width: $DayLinesWith;
  border-right-color: $DayLinesColor;
  border-right-style: solid;
}
.Lines {
  height: $LineHight;
  width: 100%;
  position: fixed;
  z-index: -1;
}
.DayDatesTop {
  text-align: center;
  font-family: $fontseting;
  font-size: 11px;
}
