//Default Setings

//Daylines
$DayWith: 50px; //Pixel per day
$DayLinesColor: #bfbfbf;
$DayLinesWith: 1px;

//Lines

$LineHight: 100px; //Hight of line in px
$ProjectTimeSpan: 5px;
$ProjectTimeSpanColor: #51c18b; //Colro from Project/Timespan stroke in hex
$ProjectStartpointWith: 30px; //With from Project Point in px
$ProjectStartpointColor: #4085c7;
$ProjectEndpointWith: 30px;
$ProjectEndpointColor: #7d47b3;
